:host {
  .list-container {
    mat-form-field {
      width: 100%;
    }
    table {
      width: 100%;
    }
  }

  .bullet {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;

    &.isCreated {
      background-color: blue;
    }
    &.isPending {
      background-color: yellow;
    }
    &.isInProgress {
      background-color: orange;
    }
    &.isResolved {
      background-color: green;
    }
  }
}

::ng-deep tbody tr {
  text-transform: capitalize;
}
