<div class="list-container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortEvent($event)" class="mat-elevation-z8">
    <ng-container matColumnDef="indicator">
      <th mat-header-cell *matHeaderCellDef>Indicator</th>
      <td mat-cell *matCellDef="let element">
        <span
          class="bullet"
          [ngClass]="{
            isCreated: element.isCreated(),
            isPending: element.isPending(),
            isInProgress: element.isInProgress(),
            isResolved: element.isResolved()
          }"
        ></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created at</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</th>
      <td mat-cell *matCellDef="let element">{{ element.updatedAt | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="criticity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Criticity</th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.criticityRange && element.criticityRange.value">
          {{ element.criticityRange.value }} / {{ element.criticityRange.max }}
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    (page)="onPageChange($event)"
    [length]="lengthData"
    [pageSize]="paramApi.limit"
    [pageSizeOptions]="[5, 10, 20]"
  ></mat-paginator>
</div>
