<div class="header" *ngIf="client">
  <div class="client-info">
    <img [src]="client.logoUrl" alt="Client logo" />
    <span>{{ client.name }}</span>
  </div>

  <div class="client-assets" *ngIf="client.assets">
    <mat-form-field>
      <mat-label>Assets</mat-label>
      <mat-select (selectionChange)="onSelectionChange()" [(value)]="assetSelected.id">
        <mat-option *ngFor="let asset of client.assets" [value]="asset.id">{{ asset.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
