:host {
  display: block;
  background-color: var(--primary-color);
  color: var(--text-color);

  .header {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    height: 65px;
    display: flex;
    justify-content: flex-start;

    .client-info {
      display: flex;
      align-items: center;

      img {
        max-width: 150px;
        max-height: 65px;
      }
      span {
        margin-left: 15px;
      }
    }

    .client-assets {
      position: absolute;
      right: 2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    height: auto !important;
  }
  .client-assets {
    position: initial !important;
    text-align: center;
    margin-top: 10px;
  }
}
