<app-header></app-header>

<div class="container">
  <div
    gdAreas="side content"
    gdGap="4%"
    gdRows="auto"
    gdColumns="25% 70%"
    gdAreas.lt-md="side | content"
    gdRows.lt-md="auto auto"
    gdColumns.lt-md="100%"
  >
    <div gdArea="side">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Computer</mat-card-title>
          <mat-card-subtitle>10 Interventions</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>Last anomaly reference:</p>
          <p>14</p>
          <p>Last intervention date:</p>
          <p>10/06/2019</p>
          <p>Summary intervention:</p>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div gdArea="content">
      <app-anomaly-list></app-anomaly-list>
    </div>
  </div>
</div>
