<app-header [assetSelected]="asset"></app-header>

<div *ngIf="asset; else assetNotFound" class="container">
  <div
    gdAreas="side content"
    gdGap="4%"
    gdRows="auto"
    gdColumns="25% 70%"
    gdAreas.lt-md="side | content"
    gdRows.lt-md="auto auto"
    gdColumns.lt-md="100%"
  >
    <div gdArea="side">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ asset.name }}</mat-card-title>
          <mat-card-subtitle>{{ asset.interventions.length }} Interventions</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <ng-container *ngIf="asset.getLastInterventionPlanned()">
            <p>Last ID anomaly reference:</p>
            <p>{{ asset.getLastInterventionPlanned().anomalyId }}</p>

            <p>Last intervention date:</p>
            <p>{{ asset.getLastInterventionPlanned().plannedAt | date: 'dd/MM/yyyy' }}</p>

            <p>Summary intervention:</p>
            <p>
              {{ asset.getLastInterventionPlanned().summary }}
            </p>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </div>

    <div gdArea="content">
      <app-anomaly-list [asset]="asset"></app-anomaly-list>
    </div>
  </div>
</div>

<ng-template #assetNotFound>
  <p class="error-msg">Asset not found</p>
</ng-template>
